:root{
    --heading:#e37c14;
    --header:#0B251A;
    --background:#F4F1DE;
    --assets-box:#EAE0D5;
    --assets-background:#f6ddc3;
    --btn:#B66E5F;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* I should give %wise size to elements */
header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header);
    color: white;
}
.heading h1{
    margin:5px 0;
    margin-left: 2px;
    color: var(--heading);
}

.search{
    margin:5px 0;
    display: flex;
    flex-direction: row;
    width:30%;
    gap:2px;
}

.search input, .search button{
    height:25px;
    vertical-align: middle;
}

.search input{
    width: 100%;
}
.search button{
    background-color: var(--heading);
    color: black;
    cursor: pointer;
    border:none;
    border-radius: 3px;
}

.nav-bar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}

.nav-bar ul li{
    list-style-type: none;
    padding: 10px;
    margin-right: 10px;
}
.nav-bar ul li:last-child{
    margin-right: 2px;
}
.nav-bar ul li a{
    text-decoration: none;
    color: white;
}


.nav-bar ul li:hover{
    background-color: white;
    cursor: pointer;
    outline:2px solid var(--heading);
    overflow: hidden;
}
.nav-bar ul li:hover a{
    color: #232f3e;
}
/* Main Content */
.add{
    height: 50vh;
    background-color:gray ;
    background-image:url(./Assets/background.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    background-color: var(--background);
    overflow-x: hidden;
    padding: 20px;
}

.products{
    width: 280px;
    height: 350px;
    background-color: var(--assets-box);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.products .sub-heading{
    text-align: left;
}
.products .product-image{
    background-color: var(--assets-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 100%;
    height: 70%;
}

.products img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 5px;
}

.products a{
    text-decoration: none;
    color: var(--btn);
    font-weight: bold;
}